<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ckl.challenge.max" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:name="io.ckl.challenge.max.control.ChallengeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".control.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ArticleDetailActivity"
            android:label="@string/title_article_detail"
            android:parentActivityName=".ArticleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
        </activity>
        <activity
            android:name=".control.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".ArticleListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ArticleListActivity" />
        </activity>
    </application>

</manifest>
